body {
    font-family: inter;
    background-color: #f5f5f5;
    color: #0f0f0f;
    /* background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(157,191,232,1) 100%); */
    margin: auto;
}

.App {
    /* background: #676B6D; */
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px; */
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin: auto;
    margin-top: 10%;
    max-width: 400px;
    min-height: 35vh;
}

.title {
    background: #36c76d;
    border-radius: 10px;
    margin: auto;
    padding: 5%;
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.group {
    background-color: #e0e0e0;
    margin-top: 15% ;
    border-radius: 10px;
}

.input-title{
    font-weight: 250;
    padding: 20px;
    margin-bottom: 0;
}

input {
    all: unset;
    margin: 10%;
    /* border-bottom: 1px solid #0f0f0f; */
}

select {
    all: unset;
    background-color: #f5f5f5;
    padding: 10px;
    padding-left: 16px;
    border-radius: 10px;
}

select:hover {
    color: #676B6D;
}

@media  (max-width: 400px) {
    .App{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .input-title{
        grid-area: title;
        margin-top: 0;
        margin-right: 10%;
    }

    input {
        max-width: min-content;
        width: 30vw;
        margin-bottom: 10px;
        grid-area: input;
    }

    select {
        /* display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-end; */
        /* padding: 10%; */
        max-width: fit-content;
        max-height: 20px;
        /* margin-right: 30%;
        margin-top: 15%;
        margin-bottom: 15px; */
        margin: auto;
        grid-area: select;
        width: 35px;
    }

    .group {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 200px 100px;
        grid-template-areas: 
            "title title"
            "input select";
        flex-direction: row;
        justify-content: center;
        width: 80%;padding-bottom: 5%;
        
    }

    .title {
        margin: 5%;
        font-size: 20px;
    }


}