body {
    font-family: inter;
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(157,191,232,1) 100%);
    margin: auto;
}

.App {
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin: auto;
    margin-top: 10%;
    max-width: 40%;
    min-height: 35vh;
}

.title {
    margin: auto;
    padding: 5%;
}

input {
    all: unset;
    margin: 10%;
    border-bottom: 1px solid #0f0f0f;
}

select {
    all: unset;
}

select:hover {
    border-bottom: 1px solid
}